@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}
// geral container
.contain{
  width: 98%;
  margin: 0 auto;
}
/* nav */
nav ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* catalog */
.ctl-card {
    text-align: center;
  }
/* carousel slider */
.slider{
    width: 98%;
    margin: 0 auto;
}
.carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(192, 29, 29, 1);
    border-radius: 50%;
    padding: 10px;
} 
/* e-itm */
.cont{
  width: 100%;
  max-width: 82%;
  margin-left: 15px ;
}
img.e-itm-img{
  width: 100%;
  max-width: 120px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
img.e-itm-img:hover{
    transform: scale(1.1);
}
/* w-items */
.cnt{
  width: 100%;
  max-width: 35%;
}

.crd-itm img , img.img-fluid {
  width: 100%;
    max-width: 150px ;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.crd-itm img , img.img-fluid:hover{
    transform: scale(1.1);
}
.w-img{
    width: 100%;
    max-width: 830px;
    height: auto ;
}
// footer 
/* Footer */
footer {
  background-color: #f5f5f5;

._2j7a4R a {
  color: #666;
  text-decoration: none;
  font-size: xx-small;
  line-height: 2px;
}

._2HvN4k {
  margin-bottom: 30px;
}

.footer-bottom {
  background-color: #212121;
  font-size: x-small;
}

a.head {
  color: #696a77;
  font-weight: 300;
}

.unl ul li {
  list-style: none;
}

.unl ul li a {
  text-decoration: none;
}

.Xtae {
  border-right: 1px solid #454d5e;
}

.ts {
  font-size: xx-small;
}}