@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100dvw;
  overflow-x: hidden;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .nav_lower_text {
  font-size: 14px;
  color: white;
}
header nav .nav_lower_text:hover {
  text-decoration: underline;
}
header nav .search_Bar {
  width: 450px;
  height: 40px;
}
header nav .search-box {
  height: 100%;
}
header nav .search-box .form-control {
  padding: 0 5px;
  font-size: 14px;
}
header nav .search-box .form-control:focus {
  box-shadow: none;
  border-color: transparent;
}
header nav .search-box .input-group-text {
  border-radius: 0 4px 4px 0;
  padding: 0 10px;
}
header .navbar-nav .nav-item {
  font-size: 16px;
  font-weight: 500;
}
header .navbar-nav .nav-item.dropdown .btn {
  padding: 8px 20px;
  font-weight: 500;
}
header .navbar-nav .nav-item .nav-link {
  padding: 8px 15px;
}
header .navbar-nav .nav-item .nav-link:hover {
  color: #e0e0e0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  header .nav_lower_text {
    font-size: 12px;
  }
  header .search_Bar {
    margin: 10px;
    width: 90% !important;
    height: 40px;
  }
  header .navbar-nav .nav-item {
    font-size: 14px;
    padding: 5px;
  }
  header .navbar-nav .login {
    background: none !important;
  }
  header .navbar-nav .login span.cl2ms {
    color: white;
  }
  header .navbar-nav .login ul.drpno {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .ah4id {
    display: none;
  }
}
.nav-bottom .nav_bottom .nvb9t {
  margin: 0 auto;
}
.nav-bottom .nav_bottom .nvb9t .El55op span.e0phov {
  font-size: 15px;
}
.nav-bottom .nav_bottom .nvb9t .El55op span.e0phov:hover {
  color: #2874f0;
}
@media screen and (min-width: 1080px) and (max-width: 1399.98px) {
  .nav-bottom .nav_bottom .nvb9t .El55op span.e0phov {
    font-size: 13px;
  }
}

main .bottom-side-bar {
  padding-bottom: 12px;
}
main .bottom-side-bar .RQvRm {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
}
main .bottom-side-bar .RQvRm .rgHxCQ {
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 0.3px;
  font-weight: 500;
  display: inline-block;
}
main .bottom-side-bar .GscM5e .kCY4R {
  font-size: 12px;
  color: #212121;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
}
main .bottom-side-bar .GscM5e .WCyB2K {
  padding: 5px 0;
  white-space: nowrap;
}
main .bottom-side-bar .GscM5e .esFpML {
  font-size: 14px;
}
main .bottom-side-bar .GscM5e .filter-section {
  max-width: 300px;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 14px;
}
main .bottom-side-bar .GscM5e .filter-section .filter-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}
main .bottom-side-bar .GscM5e .filter-section .filter-title i {
  margin-left: auto;
}
main .bottom-side-bar .GscM5e .filter-section .collapse {
  margin-top: 0.5rem;
}
main .bottom-side-bar .GscM5e .filter-section .search-input {
  margin-bottom: 10px;
}
main .bottom-side-bar .GscM5e .filter-section .form-check .form-check-label {
  font-weight: normal;
}
main .bottom-side-bar .GscM5e .filter-section .more-link {
  margin-top: 0.5rem;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}
main .bottom-side-bar .GscM5e .filter-section .more-link:hover {
  color: #0062cc;
}
main .bottom-side-bar .BR4Nd .filter-section .filter-title {
  font-weight: bold;
}
main .bottom-side-bar .BR4Nd .filter-section .form-check {
  margin: 8px;
}
main .bottom-side-bar .img-LE4 {
  max-width: 100px;
  height: auto;
}
main .main-content .top-contents {
  padding: 12px 16px 0;
}
main .main-content ._7dPnhA .breadcrumb .breadcrumb-item a {
  color: #878787;
  font-size: 12px;
}
main .main-content .BUOuZu {
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
}
main .main-content .sHCOk2 ul.nav-tabs:hover {
  border: 0 0 1px 0;
}
main .main-content .sHCOk2 a.chclr21 {
  color: #212121;
}
main .main-content .product-card .LFEi7Z._1sdMkc {
  overflow: hidden;
}
main .main-content .product-card ._1sdMkc {
  margin: 0 10px;
  position: relative;
  filter: none !important;
  height: 100%;
}
main .main-content .product-card .Card {
  display: inline-block;
  position: relative;
  overflow: hidden;
  max-height: 400px;
  height: 100%;
  transition: box-shadow 0.3s ease;
  font-size: 14px;
  padding: 5px;
}
main .main-content .product-card .Card:hover {
  box-shadow: 8px 12px 31px -10px rgba(171, 152, 171, 0.8);
}
main .main-content .product-card .Card:hover .card-body {
  height: 50%;
}
main .main-content .product-card .Card:hover .card-body .card-title {
  margin-bottom: 0.75rem;
}
main .main-content .product-card .Card:hover .card-content {
  bottom: 0;
}
main .main-content .product-card .Card .card-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75% !important;
  overflow: hidden;
}
main .main-content .product-card .Card .card-img-wrapper img {
  transition: transform 1.5s ease;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main-content .product-card .Card .card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
  background-color: #fff;
  transition: height 1.5s ease;
  padding: 5px 16px 8px;
}
main .main-content .product-card .Card .card-body .card-title {
  margin-bottom: calc(40% + 20px);
  transition: margin-bottom 1.5s ease;
}
main .main-content .product-card .Card .card-content {
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  transition: opacity 1.5s ease;
}
main .main-content .product-card .Card .card-image .card .card-img-wrapper {
  height: 100%;
}
main .main-content .product-card .Card .card-image .card .card-body {
  display: none;
}
main .main-content .product-card .Card .card-image-title-description .card {
  position: relative;
  min-height: 300px;
  min-height: 250px;
}
main .main-content .product-card .Card .card-image-title-description .card .card-img-wrapper {
  max-height: 160px;
}
main .main-content .product-card .Card .card-image-title-description .card .card-body {
  height: auto;
  position: relative;
  top: 0;
  margin-bottom: -70px;
  transition: top 1.5s ease;
}
main .main-content .product-card .Card .card-image-title-description .card:hover .card-body {
  top: -70px;
}
main .main-content .product-card .Card .card-image-title-description .card .card-title {
  margin-bottom: 0.75rem;
}
main .main-content ._1G0WLw {
  padding: 10px;
  line-height: 32px;
}
main .main-content ._1G0WLw .WSL9JP {
  padding: 4px 0;
  text-align: center;
  font-weight: 500;
}
main .main-content ._1G0WLw .WSL9JP .cn-Ap {
  background: #2874f0;
  color: #fff;
  text-decoration: none;
}
main .main-content ._1G0WLw .WSL9JP .cn_Ap {
  text-decoration: none;
}
main .main-content ._1G0WLw .WSL9JP .A1msZJ {
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  line-height: 32px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
main .main-content ._1G0WLw .WSL9JP ._9QVEpD {
  line-height: 32px;
  color: #2874f0;
  padding: 0 25px;
  text-transform: uppercase;
  text-decoration: none;
}
main .main-content .fin4ik {
  padding: 16px;
}
main .main-content .fin4ik .l0Yfe {
  border-radius: 2px;
  border: 1px solid #d7d7d7;
  padding: 6px 28px;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-right: 10px;
}

.Rev8bs .rev8_header {
  font-size: 20px;
  font-weight: 500;
  padding: 15px 20px;
  border-bottom: 1px solid #f0f0f0;
}
.Rev8bs .card-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  padding: 20px 0;
  border-bottom: 1px solid #f0f0f0;
  background: #fff;
}
.Rev8bs .card-box .img_box img {
  width: 110px;
  height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.Rev8bs .card-box .review_box {
  font-size: 14px;
}
.Rev8bs .card-box .text_box,
.Rev8bs .card-box .review_box {
  min-width: 220px;
  max-width: 320px;
}
.Rev8bs .h0ve9:hover {
  color: #2874f0;
}

.card-box .text_box,
.card-box .review_box {
  max-width: 100%;
  min-width: 0;
}

.footer {
  background-color: #172337;
  color: #fff;
}
.footer .unl {
  list-style: none;
  padding: 0;
}
.footer .unl li {
  margin-bottom: 10px;
}
.footer .unl li .head {
  color: #878787;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
}
.footer .unl li a.text-white {
  font-size: 14px;
  text-decoration: none;
}
.footer .unl li a.text-white:hover {
  color: #2874f0;
}
.footer .unl li address {
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}
.footer .unl li .ts {
  font-size: 14px;
  line-height: 1.5;
}

@media screen and (min-width: 320px) and (max-width: 617.3px) {
  .RQvRm {
    padding: 5px !important;
    font-size: 5px !important;
  }
}/*# sourceMappingURL=Men's-tshirts.css.map */